babelfish==0.6.1
beautifulsoup4==4.14.2
certifi==2025.8.3
chardet==5.2.0
charset-normalizer==3.4.3
click==8.3.0
click-option-group==0.5.8
decorator==5.2.1
deepl==1.22.0
defusedxml==0.7.1
dogpile.cache==1.4.1
enzyme==0.5.2
guessit==3.8.0
idna==3.10
knowit==0.5.11
platformdirs==4.4.0
pymediainfo==7.0.1
pysubs2==1.8.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
rebulk==3.2.0
requests==2.32.5
six==1.17.0
soupsieve==2.8
srt==3.5.3
stevedore==5.5.0
subliminal==2.4.0
tomlkit==0.13.3
trakit==0.2.5
typing_extensions==4.15.0
urllib3==2.5.0
